os
scipy~=1.5.0
rdkit~=2018.09.1.0
matplotlib~=3.3.4
numpy~=1.19.5
pandas~=1.0.5
pymzml~=2.5.0
torch~=1.10.2
tqdm~=4.47.0
pip~=20.1.1
zlib~=1.2.11
wheel~=0.37.1
openssl~=1.1.1g
cryptography~=2.9.2
py~=1.9.0
lxml~=4.5.2
tornado~=6.0.4
keyring~=21.2.1
pkginfo~=1.5.0.1
setuptools~=49.2.0
cython~=0.29.21
future~=0.18.2
docutils~=0.16
image~=1.5.33
torchvision~=0.11.3
pillow~=7.2.0